{% extends 'base.html.twig'%}

{% block title article.titre %}


{% block body %}

    <section id="fiche-article">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
                    <div class="message-box">
                        <h2>{{article.titre}}</h2>
                        <p class="maj-date"> écrit le {{ article.date|date('Y-m-d') }} par {{article.auteur}}</p>
                        <p class="lead">{{article.contenu}}</p>
                    </div><!-- end messagebox -->
				</div>
			</div>
		</div>
	</section>
    
{% endblock %}