{% extends 'base.html.twig'%}

{% block title 'Gérer la boutique '%}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer le bien </h1>
        {{ include('admin/produits/_form.html.twig', {button:'Editer'})}}       
    </div>
    <br/>
{% endblock %}