{% extends 'base.html.twig'%}

{% block title 'Gérer la boutique '%}


{% block body %}

{% if app.user.admin %}

    <div class="container mt-4">
        <h1>Editer le bien </h1>
        {{ include('admin/produits/_form.html.twig', {button:'Editer'})}}       
    </div>
    <br/>

{% else %}
    <div class="container mt-4">
        <h1>Vous n'avez pas les droits pour accèder à cette page !</h1>
    </div>
{% endif %}

{% endblock %}