{% extends 'base.html.twig'%}

{% block title 'Gérer la boutique '%}

{% block body %}
    <body>
        <section id="fiche-produit">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="liste-title">
                            <h2>Gestion de la boutique </h2>
                        </div>

                        <table class="table table-striped">
           
                            <tbody>
                            <tr>
                                {% for prop in produits %}
                                    <td> {{prop.nomProduit }} </td>
                                    <td>
                                        <a href="{{ path('admin.produit.edit', {id: prop.idProduit}) }}" class="btn btn-secondary"> Editer </a> 
                                    </td>        
                            </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                        <div class="text-right">
                            <a href="{{ path('admin.produit.new') }}" class="btn btn-primary"> Créer un nouveau produit </a>
                        </div>

                    </div>
                </div>
            </div>            
        </section>
    </body>
{% endblock %}