{% extends 'base.html.twig' %}

{% block title 'Gérer la boutique '%}

{% block body %}

{% if app.user.admin %}

    <div class="container mt-4">
        <h1 class="titre_admin">Créer un nouveau produit </h1>
        {{include('admin/produits/_form.html.twig', {button:'Créer'} )}}
    </div>
    <br/>

{% else %}
    <div class="container mt-4">
        <h1 class="titre_admin">Vous n'avez pas les droits pour accèder à cette page !</h1>
    </div>
{% endif %}

{% endblock %}