{% extends 'base.html.twig'%}

{% block title 'Gérer la boutique '%}

{% block body %}

{% if app.user.admin %}

    <div class="container mt-4">
        <h1>{% trans %}Editer l'article{% endtrans %} </h1>
    </div>
        {{ include('admin/blog/_form.html.twig', {button:'Editer'})}}       
    <br/>

{% else %}
    <div class="container mt-4">
        <h1>{% trans %}Vous n'avez pas les droits pour accèder à cette page{% endtrans %} !</h1>
    </div>
{% endif %}

{% endblock %}