{% extends 'base.html.twig'%}

{% block title property.nomProduit %}


{% block body %}
    <div class="container">
        {{property.nomProduit}}
        <p>{{property.description}}</p>
       <p> {{property.prix}}</p>
    </div>
    
{% endblock %}